{% extends 'base.html' %} 


{% load static %} 


{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock css %} 


{% block content %}

<!-- Dashboard Stats -->
<!-- {% include 'pc/include/dashboard.html' %} -->

<!-- Recent Appointments -->
{% include 'pc/include/appointments.html' %}

<!-- Bottom Sections -->
<div class="bottom-layout">
  <!-- New Clients -->

  <!-- Tasks -->
  {% include 'pc/include/tasks.html' %}
</div>

{% endblock content %} 


{% block js %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock js %}
