<div class="col-md-3 sidebar">
  <div class="d-flex align-items-center mb-3">
    <img
      src="https://via.placeholder.com/50x50"
      alt="Logo"
      style="margin-right: 10px"
    />
    <div>
      <h3 style="color: #ff4081">InkCRM</h3>
      <p>Tattoo Studio</p>
    </div>
  </div>
  <nav class="nav flex-column">
    <a class="nav-link border" href="/">Панель управления</a>
    <a class="nav-link" href="#">Клиенты</a>
    <a class="nav-link" href="#">Записи</a>
    <a class="nav-link" href="users/">Мастера</a>
    <a class="nav-link" href="#">Портфолио</a>
    <a class="nav-link" href="#">Аналитика</a>
    <a class="nav-link" href="#">Инвентарь</a>
    <a class="nav-link" href="#">Настройки</a>
  </nav>
</div>
